:root{

--bg:#00161d;

--dark:#35654a;

--mid:#89bc6f;

--light:#d3e8c3;

}

*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

background:var(--bg);

font-family:'Press Start 2P',cursive;

color:var(--light);

overflow-x:hidden;

}



/* GWIAZDKI */

#stars{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

z-index:-1;

}



.star{

position:absolute;

background:var(--mid);

animation:blink infinite alternate;

}



@keyframes blink{

from{

opacity:.2;

}

to{

opacity:1;

}

}



/* HEADER */

header{

min-height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:40px;

}



/* LOGO */

.logo{

font-size:clamp(5px,1vw,14px);

line-height:1.15;

white-space:pre;

padding:40px;

background:var(--dark);

border:6px solid var(--light);

box-shadow:

15px 15px 0 #17352a;

overflow:auto;

max-width:95vw;

animation:float 4s infinite ease-in-out;

}



@keyframes float{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-12px);

}

100%{

transform:translateY(0);

}

}



.subtitle{

margin-top:40px;

font-size:14px;

line-height:2;

color:var(--mid);

}



#enter{

margin-top:45px;

padding:18px 28px;

font-family:inherit;

border:none;

background:var(--mid);

color:var(--bg);

cursor:pointer;

box-shadow:

8px 8px 0 #17352a;

transition:.2s;

}



#enter:hover{

transform:translate(4px,4px);

box-shadow:

4px 4px 0 #17352a;

}



/* GRY */

#games{

max-width:1200px;

margin:auto;

padding:120px 30px;

}



#games h1{

text-align:center;

font-size:28px;

margin-bottom:80px;

}



.cards{

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(280px,1fr));

gap:40px;

}



.card{

background:var(--dark);

padding:35px;

border:5px solid var(--light);

box-shadow:

12px 12px 0 #17352a;

}



.emoji{

font-size:60px;

margin-bottom:30px;

}



.card h2{

font-size:22px;

margin-bottom:25px;

}



.card p{

font-size:12px;

line-height:2;

margin-bottom:30px;

}



.card button{

font-family:inherit;

padding:14px 20px;

border:none;

background:var(--mid);

cursor:pointer;

}



/* STOPKA */

footer{

padding:80px;

text-align:center;

font-size:12px;

color:var(--mid);

}